body{
background-color:#D2691E
;
}
list{
	font-family:Arial;
}
h3{
	font-family:Arial;
	background-color:#FAEBD7;
}
h2{
	font-family:Arial;
	text-align:center;
	border-style:solid;
	background-color:#A52A2A;

}
